<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/addData" method="post">
        <label for="currency">Currency</label>
        <input type="text" name="currency" id="currency">
        <br>
        <br>
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" id="quantity" step="any" min="0">
        <br>
        <br>
        <label for="orig_value">Original Value</label>
        <input type="number" name="orig_value" id="orig_value" step="any" min="0">
        <br>
        <br>
        <input type="submit">
    
    
    
    
    
    </form>
</body>
</html>