<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center><h1>Welcome to our home page</h1></center>
    <div class="w3-bar">
            <a href = "login" class="w3-button w3-ripple">user login</a></div>
            <a href = "register" class="w3-button w3-ripple">user registration</a>
            <a href = "stockProfit" class="w3-button w3-ripple">stock profit</a>
            <a href = "stockPrice" class="w3-button w3-ripple">stock price</a>
            <a href = "addData" class="w3-button w3-ripple">add data</a>
         
    </div>
    
</body>
<link rel="stylesheet" href="w3.css">
</html>